html

head
    title Guess song

body
    include ./headers
    //link(rel="stylesheet", href="basic_wordle_style.css", type="text/css")
    script(type="text/javascript", src="guess_song.js")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    input(type='button', value="GET SONG", onclick=`getSong()`)


    button(type='button', class="btn btn-default btn-sm", class="glyphicon glyphicon-play", onclick=`playSong()`) Play

    


