html
head
    title Supply list Home page      
body

include ./headers

div#main
    h1 Welcome to the main page!


    h4 Games:

    

    a(href="/user/login"): button(type="button", style="width: 200px; height: 20px;" ) 5 Length Wordle
    br
    br
    a(href="/user/login"): button(type="button", style="width: 200px; height: 20px;" ) 6 Length Wordle
    br
    br
    a(href="/user/login"): button(type="button", style="width: 200; height: 20px;" ) 7 Length Wordle
    br
    br
    a(href="/user/login"): button(type="button", style="width: 200px; height: 20px;" ) Song Guesser

